<% layout('layout') -%>

<div class="grid">
	<div class="unit w-1-1">
		<h3>Welcome to Simple Auth Tut!</h3>
	</div>
</div>

<div class="grid">
	<div class="unit w-1-5">
		<a href="/auth/local-login">Local Login</a><br>
		<a href="/auth/local-signup">Local Signup</a>
	</div>
	<div class="unit w-1-5">
		<a href="/auth/facebook-login">Facebook Login</a>
	</div>
	<div class="unit w-1-5">
		<a href="/auth/google-login">Google Login</a>
	</div>
	<div class="unit w-1-5">
		<a href="/auth/profile">Profile</a>
	</div>
</div>

